# Obsidian service files
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/backups/
.obsidian/plugins/obsidian-git/

# OS files
.DS_Store
Thumbs.db

# Temp files
*.tmp
*.log
.stfolder/
.stversions/
.trash/
.claude/

# Raw notes
Сырой текст к карточкам.txt
Резюме_NLP_Draft.md

# Plugin generated combined files
*-совмещенный.md
